<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Graphical Report</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js">

</head>
<body>



<div class="container">
  <div class="row">
    <div class="col" style="margin-left: -400px;">
      <canvas id="myChart" width="250" height="140"></canvas>
    </div>
     <div class="col">
        <canvas id="line-chart" width="800" height="450"></canvas>
     </div>
  </div>
</div>





<script>
    var xValues = ["Passed Boys", "Passed Girls", "Failed Boys", "Failed Girls"];
    var yValues = {{pie}};

    var barColors = [
      "#b91d47",
      "#00aba9",
      "#2b5797",
      "#1e7145",
      "#1e7156"
    ];

    new Chart("myChart", {
      type: "doughnut",
      data: {
        labels: xValues,
        datasets: [{
          backgroundColor: barColors,
          data: yValues
        }]
      },
      options: {
        title: {
          display: true,
          text: "Result MCA 2020 SEM {{sem}}"
        }
      }
    });
</script>

<script>

    var subjects = {{sl[0]}};
    var avg = {{sl[2]}};

    var xValues = subjects;
    var yValues = avg;

    new Chart("line-chart", {
      type: "line",
      data: {
        labels: xValues,
        datasets: [{
          fill: false,
          lineTension: 0,
          backgroundColor: "rgba(0,0,255,1.0)",
          borderColor: "Tomato",
          data: yValues
        }]
      },
      options: {
        legend: {display: false},
        title: {
          display: true,
          text: "Average Marks Of Semester {{sem}} Students in Subject Code"
        },
  scales: {
    yAxes: [{
      scaleLabel: {
        display: true,
        labelString: 'Marks'
      }
    }],
    xAxes: [{
      scaleLabel: {
        display: true,
        labelString: 'Subject_Code'
      }
    }]
  },




      }
    });


</script>


</body>
</html>